@charset "UTF-8";

.twoColumnLayout {
    display: flex;
    gap: 32px;
    align-items: flex-start;
}

.leftColumn {
    flex: 1;
    min-width: 0;
}

.rightColumn {
    width: 440px;
    flex-shrink: 0;
    position: sticky;
    top: 100px;
}

.pageHeader {
    margin-bottom: 16px;
}

.pageTitle {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 5px;
}

.pageSubtitle {
    font-size: 14px;
    color: #75787D;
}

.divider {
    height: 1px;
    background-color: #323639;
    margin-bottom: 28px;
    border: none;
}

.statsFlex.smallStats {
    gap: 16px;
}

.statCard.statCardSmall {
    height: 90px;
    padding: 16px;
    gap: 16px;
}

.statCard.statCardSmall .statValue {
    font-size: 20px;
}

/* CITIZEN LIST PAGE  */
.citizenList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.citizenCard {
    background-color: #212224;
    border: 1px solid #323639;
    border-radius: 10px;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: border-color 0.2s;
}

.citizenCard:hover {
    border-color: #D35400;
}

.citizenInfo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.avatarBox {
    width: 44px;
    height: 44px;
    background-color: #2c2e31;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D35400;
    flex-shrink: 0;
}

.nameGroup h3 {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 2px;
}

.nameGroup p {
    font-size: 12px;
    color: #75787D;
}

.roleTag {
    font-size: 10px;
    font-weight: 700;
    color: #75787D;
    text-transform: lowecase;
    letter-spacing: 0.5px;
    background: #2c2e31;
    padding: 4px 8px;
    border-radius: 4px;
}

.buttonReview {
    background-color: #D35400;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 8px 18px 20px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

/* CITIZEN PROFILE PAGE*/
.emptyStatePanel {
    background-color: #212224;
    border: 1px dashed #323639;
    border-radius: 12px;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 400px;
    margin-top: 24px;
}

.profilePanel {
    background-color: #212224;
    border: 5px solid #323639;
    border-radius: 12px;
    width: 100%;
    overflow: hidden;
}

.profileHeader {
    padding: 20px 24px;
    border-bottom: 1px solid #323639;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
