@charset "UTF-8";

.issuePageWrapper {
    max-width: 1040px;
    margin: 0 auto;
}

.issuePageHeader {
    margin-bottom: 24px;
}

.issuePageTitle {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 4px;
}

.issuePageSubtitle {
    font-size: 25px;
    color: #D35400;
    font-weight: 800;
}

.issueDivider {
    border: 0;
    height: 10px;
    background-color: #323639;
    margin-bottom: 50px;
    width: 100px;
}